<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="digipost_client_lib_formsapp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <userSettings>
    <digipost_client_lib_formsapp.Properties.Settings>
      <setting name="url" serializeAs="String">
        <value>https://api.digipost.no</value>
      </setting>
      <setting name="technicalID" serializeAs="String">
        <value>779052</value>
      </setting>
      <setting name="thumbprint" serializeAs="String">
        <value>d6 5e 6c 4c 77 fc 0e 0d c5 f5 ac 32 bc 43 70 1f a8 b0 3d 21</value>
      </setting>
      <setting name="timeoutInMs" serializeAs="String">
        <value>30000</value>
      </setting>
    </digipost_client_lib_formsapp.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>